<a href="https://colab.research.google.com/github/Kuba18/KursAi/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
player_data = np.array([
    ("Faker", "T1", 5),
    ("TheSky", "Weibo Gaming", 1),
    ("Uzi", "Emerytowany", 0)
], dtype = [("Nick", "U30"), ("Team", "U30"), ("Worlds Title count", "i4")])

print(player_data)
print(np.sort(player_data, order= "Team"))

[('Faker', 'T1', 5) ('TheSky', 'Weibo Gaming', 1)
 ('Uzi', 'Emerytowany', 0)]
[('Uzi', 'Emerytowany', 0) ('Faker', 'T1', 5)
 ('TheSky', 'Weibo Gaming', 1)]

In [ ]:
from numpy import random
for i in range(10):
  print(random.randint(1,11))

5
5
4
3
9
9
10
1
3
9

In [ ]:
for i in range(10):
  print(random.rand())

0.19070159971383815
0.018053441546448834
0.36508188648288087
0.02606724074799127
0.26553037991181483
0.897167239488231
0.5322028813815849
0.8288374068684088
0.7429659997720887
0.6241368694115692

In [ ]:
lista = [1,2,3,4,5]
pomieszana = random.shuffle(lista)
print(pomieszana)

None

In [ ]:
array1D =  np.array([1,2,3,4,5,6,7,8,9])
print(array1D[:9])

[1 2 3 4 5 6 7 8 9]

In [ ]:
array2D = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15]
])
print(array2D[:,2:4])

[[ 3  4]
 [ 8  9]
 [13 14]]

In [ ]:
for i in np.nditer(array2D):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
array2D = np.array([
    [1,2,3,4,5,6],
    [6,6,7,8,9,10],
    [11,12,13,14,15,6]
])
result = np.where(array2D == 6,True , False)
print(result)

filtred = array2D[result]
print(filtred)

[[False False False False False  True]
 [ True  True False False False False]
 [False False False False False  True]]
[6 6 6 6]